/***   MENU  ***/

header {
    position: fixed;
    top: 1vw;
    right: 1vw;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


header nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #efd0d8;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.7rem;

}



header nav a:hover {

    color: #f4b6c2;
}

header nav a:hover {
    transform: scale(1.1);
}

@font-face {
    font-family: 'antonellie_calligraphy_demoRg';
    src: url('font/antonellie_callygraphy_demo-webfont.woff2') format('woff2'),
        url('font/antonellie_callygraphy_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#logo a {
    font-family: 'antonellie_calligraphy_demoRg';
    color: #efd0d8;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 0.5rem;
}


#logo a:hover {
    color: #f4b6c2;
}



















/***  PORTFOLIE   ***/


#portfolie_links {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.web {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;
}

.web a {
    color: #ffffff;
    text-decoration: none;
    background-color: #efd0d8;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;

    animation-name: color_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}

.web:hover {
    transform: scale(1.3);
}



.ux {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;

}

.ux a {
    color: #ffffff;
    text-decoration: none;
    background-color: #efd0d8;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;

    animation-name: color_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 2s;
}

.ux:hover {
    transform: scale(1.3);
}

.animation {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;

}

.animation a {
    color: #ffffff;
    text-decoration: none;
    background-color: #efd0d8;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;

    animation-name: color_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 3s;

}


.animation:hover {
    transform: scale(1.3);
}

.content {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;
}

.content a {
    color: #ffffff;
    text-decoration: none;
    background-color: #efd0d8;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;

    animation-name: color_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.content:hover {
    transform: scale(1.3);
}



@keyframes color_kf {
    0% {
        background-color: #ead5dc;
    }


    33% {
        background-color: #f4b6c2;
    }

    66% {
        background-color: #9ec1d8;
    }

    100% {
        background-color: #efd0d8;
    }


}

















/***     web     ***/


#web {
    margin: 0;
}


#web .sectionwrapper_web .col {
    margin: 0.5rem;
    padding: 0.5rem;

}

#web .sectionwrapper_web .col img {
    width: 100%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    margin-top: 3rem;
    text-align: center;

    color: black;

}

h2 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    text-align: center;

    color: #f4b6c2;
}

h3 {
    margin: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    text-align: center;

    color: #f4b6c2;
}

p {
    margin-top: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.8rem;

}

/*link*/

.swiss_website a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;

    background-color: #f4b6c2;
    padding: 1rem;
    border-radius: 1.2rem;
}


.swiss_website {
    text-align: center;
    margin: 3rem;
}

.swiss_website:hover {
    transform: scale(1.2);
}


/*media query*/


@media screen and (min-width:800px) {
    #web .sectionwrapper_web {
        display: flex;
        flex-wrap: nowrap;
    }

}

@media screen and (min-width:800px) {
    #web .sectionwrapper_web .col {
        flex-grow: 1;
        flex-basis: 500px;

        margin: 0.5rem;
        padding: 0.5rem;
    }

}


















/***    UX   ***/



#ux {
    margin: 0;
}


#prototype .sectionwrapper_proto .col {
    margin: 0.5rem;
    padding: 1rem;

}

#prototype .sectionwrapper_proto .col img {
    width: 100%;
}




#design_sprint {
    background-color: #c9c9c9;
}



#design_sprint .sectionwrapper_sprint .col {
    margin: 0.5rem;
    padding: 1rem;

}

#design_sprint .sectionwrapper_sprint .col img {
    width: 100%;
}

#design_sprint h3,
#design_sprint h2,
#design_sprint p {
    color: white;
}


/*links*/


.prototype_link a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: #f4b6c2;

    background-color: white;
    padding: 1rem;
    border-radius: 1.2rem;
}


.prototype_link {
    text-align: center;
    margin: 3rem;
}

.prototype_link:hover {
    transform: scale(1.2);
}



/*media query*/



@media screen and (min-width:800px) {
    #prototype .sectionwrapper_proto {
        display: flex;
        flex-wrap: nowrap;

    }
}

@media screen and (min-width:800px) {
    #prototype .sectionwrapper_proto .col {
        flex-grow: 1;
        flex-basis: 500px;

        margin: 0.5rem;
        padding: 1rem;
    }
}

@media screen and (min-width:800px) {
    #design_sprint .sectionwrapper_sprint {
        display: flex;
        flex-wrap: nowrap;

    }
}


@media screen and (min-width:800px) {
    #design_sprint .sectionwrapper_sprint .col {
        flex-grow: 1;
        flex-basis: 500px;

        margin: 0.5rem;
        padding: 1rem;

    }
}

















/***   Ani    ***/

#animation {
    margin: 0;
}


#animation .sectionwrapper_mitspil .col {
    margin: 0.5rem;
    padding: 1rem;

}

#animation .sectionwrapper_mitspil .col img {
    width: 100%;
}





#sexsamfund {
    background-color: #c9c9c9;
}



#sexsamfund .sectionwrapper_ss .col {
    margin: 0.5rem;
    padding: 1rem;

}

#sexsamfund .sectionwrapper_ss .col img {
    width: 100%;
}

#sexsamfund h3,
#sexsamfund h2,
#sexsamfund p {
    color: white;
}


/*links*/

#mitspil .spil_links a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: white;

    background-color: #f4b6c2;
    padding: 1rem;
    border-radius: 1.2rem;
}


#mitspil .spil_links {
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem;
}

#mitspil .spil_links:hover {
    transform: scale(1.2);
}



#sexsamfund .spil_links a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #f4b6c2;

    background-color: white;
    padding: 1rem;
    border-radius: 1.2rem;
}



#sexsamfund .spil_links {
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 2rem;
}

#sexsamfund .spil_links:hover {
    transform: scale(1.2);
}





/*media query*/



@media screen and (min-width:800px) {
    #animation .sectionwrapper_mitspil {
        display: flex;
        flex-wrap: nowrap;
    }
}


@media screen and (min-width:800px) {
    #animation .sectionwrapper_mitspil .col {
        flex-grow: 1;
        flex-basis: 500px;

        margin: 0.5rem;
        padding: 1rem;

    }
}


@media screen and (min-width:800px) {
    #sexsamfund .sectionwrapper_ss {
        display: flex;
        flex-wrap: nowrap;
    }
}


@media screen and (min-width:800px) {
    #sexsamfund .sectionwrapper_ss .col {
        flex-grow: 1;
        flex-basis: 500px;

        margin: 0.5rem;
        padding: 1rem;

    }
}





















/***    Content    ***/


#content {
    margin: 0;
}



#pilotvideo .sectionwrapper_video .col {
    margin: 0.5rem;
    padding: 1rem;

}

#pilotvideo .sectionwrapper_video .col img {
    width: 100%;
}


#pilotvideo h2 {
    font-size: 1.5rem;
}

#pilotvideo h3 {
    font-size: 1.3rem;

}

.video_pilot a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;

    background-color: #f4b6c2;
    padding: 1rem;
    border-radius: 1.2rem;
}


.video_pilot {
    text-align: center;
    margin: 2rem;
    padding: 0.5rem;
}

.video_pilot:hover {
    transform: scale(1.2);
}








#redesign {
    background-color: #c9c9c9;
}



#redesign .sectionwrapper_redesign .col {
    margin: 0.5rem;
    padding: 1rem;

}

#redesign .sectionwrapper_redesign .col img {
    width: 100%;
}

#redesign h2 {
    color: white;
    font-size: 1.5rem;
}

#redesign h3 {
    color: white;
    font-size: 1.3rem;

}

#redesign p {
    color: white;
}


.redesign_link a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: #f4b6c2;

    background-color: white;
    padding: 1rem;
    border-radius: 1.2rem;
}


.redesign_link {
    margin: 3rem;
    text-align: center;

}

.redesign_link:hover {
    transform: scale(1.2);
}






/*media query*/



@media screen and (min-width:800px) {
    #pilotvideo .sectionwrapper_video {
        display: flex;
        flex-wrap: nowrap;

    }
}


@media screen and (min-width:800px) {
    #pilotvideo .sectionwrapper_video .col {
        flex-grow: 1;
        flex-basis: 500px;

        margin: 0.5rem;
        padding: 1rem;
    }
}


@media screen and (min-width:800px) {
    #redesign .sectionwrapper_redesign {
        display: flex;
        flex-wrap: nowrap;

    }
}


@media screen and (min-width:800px) {
    #redesign .sectionwrapper_redesign .col {
        flex-grow: 1;
        flex-basis: 500px;

        margin: 0.5rem;
        padding: 1rem;

    }
}


















/***    om   ***/


#om {
    margin: 0;
}

#om .sectionwrapper_om {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#om .col {
    margin: 0;
    padding: 0;
}

#om .col img {
    max-width: 238.33px;
}



#om .col h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
}

#om .col p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
}


/*media query*/

@media screen and (min-width:700px) {
    #om .sectionwrapper_om {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

@media screen and (min-width:1100px) {
    #om .sectionwrapper_om {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 3rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }
}


@media screen and (min-width:700px) {
    #om .sectionwrapper_om .col {
        flex-grow: 1;
        flex-basis: 400px;

        padding: 0;
        margin: 2rem;

    }
}

@media screen and (min-width:700px) {
    #om .col img {
        max-width: 357.5px;
    }
}


@media screen and (min-width:600px) {
    #om .col p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media screen and (min-width:850px) {
    #om .col p {
        font-size: 1.1rem;
        line-height: 1.9rem;
    }
}







/*toggle knapper*/


.sectionwrapper_uddannelse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.sectionwrapper_uddannelse button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: #ffffff;

    background-color: #f4b6c2;
    padding: 1rem;
    border-radius: 1.2rem;
    margin-top: 2rem;
}

.sectionwrapper_uddannelse li {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}



.sectionwrapper_arbejde {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 2rem;

}

.sectionwrapper_arbejde button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: #ffffff;

    background-color: #f4b6c2;
    padding: 1rem;
    border-radius: 1.2rem;
}

.sectionwrapper_arbejde li {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

button:hover {
    transform: scale(1.2);
}


/*media query*/


@media screen and (min-width:600px) {
    .sectionwrapper_uddannelse {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
}

@media screen and (min-width:600px) {
    .sectionwrapper_arbejde {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
}



@media screen and (min-width:600px) {

    .sectionwrapper_uddannelse li {
        font-size: 1rem;
        margin: 1rem;
        padding: 0;
    }
}


@media screen and (min-width:600px) {

    .sectionwrapper_arbejde li {
        font-size: 1rem;
        margin: 1rem;
        padding: 0;
    }
}

















/***   forside  ***/

#forside {
    margin: 0;
}

.forsidebillede {
    display: flex;
    justify-content: center;
}


.rose {
    background-image: url(png/roseblur.png);
    background-size: cover;
    width: 209px;
    height: 210px;

    margin-top: 7rem;

    animation-name: float_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#forside .forsidetxt {
    margin-top: 2rem;
}

#forside h3 {
    margin: 0;
    font-family: 'antonellie_calligraphy_demoRg';
    font-size: 1.5rem;
    color: #ffffff;
    letter-spacing: 0.17rem;
}



/*media query*/


@media screen and (min-width:700px) {
    #forside h3 {
        margin: 0;
        font-family: 'antonellie_calligraphy_demoRg';
        font-size: 1.8rem;
        color: #ffffff;
        letter-spacing: 0.17rem;
    }
}


@media screen and (min-width:1000px) {
    #forside h3 {
        margin: 0;
        font-family: 'antonellie_calligraphy_demoRg';
        font-size: 2.3rem;
        color: #ffffff;
        letter-spacing: 0.28rem;
    }
}

@media screen and (min-width:1000px) {
    #forside .forsidetxt {
        margin-top: 2rem;
    }
}

@media screen and (min-width:700px) {
    .rose {
        background-image: url(png/roseblur.png);
        background-size: cover;
        width: 261.25px;
        height: 262.5px;

        margin-top: 7rem;
    }
}


@media screen and (min-width:1000px) {
    .rose {
        background-image: url(png/roseblur.png);
        background-size: cover;
        width: 313.5px;
        height: 315px;

        margin-top: 9rem;
    }
}



/*animation*/


@keyframes float_kf {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translateX(2rem);
    }

    100% {
        transform: translateX(0)
    }
}


@media screen and (min-width:1000px) {
    @keyframes float_kf {
        0% {
            transform: translate(0);
        }

        50% {
            transform: translateX(1.5rem);
        }

        100% {
            transform: translateX(0)
        }
    }
}
