header {
    position: fixed;
    top: 1vw;
    right: 1vw;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
}


header nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: dodgerblue;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.7rem;

}



header nav a:hover {

    color: pink;
}


#logo a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: dodgerblue;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 0.5rem;
}

#logo a:hover {
    color: pink;
}



/******************PORTFOLIE********************/


#portfolie_links {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.web {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;
}

.web a {
    color: dodgerblue;
    text-decoration: none;

    animation-name: color_kf;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
}



.ux {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;

}

.ux a {
    color: dodgerblue;
    text-decoration: none;

    animation-name: color_kf;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
}

.animation {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;

}

.animation a {
    color: dodgerblue;
    text-decoration: none;

    animation-name: color_kf;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
}

.content {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;
}

.content a {
    color: dodgerblue;
    text-decoration: none;

    animation-name: color_kf;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
}


@keyframes color_kf {
    10% {
        color: skyblue;
    }


    30% {
        color: mediumpurple;
    }

    50% {
        color: pink;
    }

    70% {
        color: blueviolet;
    }

    100% {
        color: skyblue;
    }

}





/*******************web*************************/

#web {
    margin: 0;
}

#web .sectionwrapper_web {
    display: flex;
    flex-wrap: wrap;

}

#web .sectionwrapper_web .col {
    flex-grow: 1;
    flex-basis: 500px;

    margin: 0.5rem;
    padding: 0.5rem;

}

#web .sectionwrapper_web .col img {
    width: 100%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    margin-top: 3rem;
    text-align: center;

    color: dimgrey;
}

h2 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    text-align: center;

    color: dimgrey;
}

h3 {
    margin: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    text-align: center;

    color: dimgrey;
}

p {
    margin-top: 2rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;

}

.swiss_website a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;

    background-color: dimgray;
    padding: 1rem;
}


.swiss_website {
    text-align: center;
    margin-top: 2rem;
}

.swiss_website a:hover {
    background-color: dodgerblue;
}



/*******************web slut********************/




/*******************UX*************************/

#ux {
    margin: 0;
}

#prototype .sectionwrapper_proto {
    display: flex;
    flex-wrap: wrap;

}

#prototype .sectionwrapper_proto .col {
    flex-grow: 1;
    flex-basis: 500px;

    margin: 0.5rem;
    padding: 1rem;

}

#prototype .sectionwrapper_proto .col img {
    width: 100%;
}





#design_sprint {
    background-color: lightgrey;
}


#design_sprint .sectionwrapper_sprint {
    display: flex;
    flex-wrap: wrap;

}

#design_sprint .sectionwrapper_sprint .col {
    flex-grow: 1;
    flex-basis: 500px;

    margin: 0.5rem;
    padding: 1rem;

}

#design_sprint .sectionwrapper_sprint .col img {
    width: 100%;
}

#design_sprint h3,
#design_sprint h2,
#design_sprint p {
    color: white;
}







/*******************UX slut********************/




/*******************Ani*************************/

#animation {
    margin: 0;
}

#animation .sectionwrapper_mitspil {
    display: flex;
    flex-wrap: wrap;

}

#animation .sectionwrapper_mitspil .col {
    flex-grow: 1;
    flex-basis: 500px;

    margin: 0.5rem;
    padding: 1rem;

}

#animation .sectionwrapper_mitspil .col img {
    width: 100%;
}





#sexsamfund {
    background-color: lightgrey;
}


#sexsamfund .sectionwrapper_ss {
    display: flex;
    flex-wrap: wrap;

}

#sexsamfund .sectionwrapper_ss .col {
    flex-grow: 1;
    flex-basis: 500px;

    margin: 0.5rem;
    padding: 1rem;

}

#sexsamfund .sectionwrapper_ss .col img {
    width: 100%;
}

#sexsamfund h3,
#sexsamfund h2,
#sexsamfund p {
    color: white;
}


#mitspil .spil_links a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;

    background-color: dimgray;
    padding: 1rem;
}


#mitspil .spil_links {
    margin-top: 2rem;
    text-align: center;
    padding: 0.5rem;
}

#mitspil .spil_links a:hover {
    background-color: dodgerblue;
}

#sexsamfund .spil_links a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: dimgrey;

    background-color: white;
    padding: 1rem;
}


#sexsamfund .spil_links {
    margin-top: 2rem;
    text-align: center;
    padding: 0.5rem;
}

#sexsamfund .spil_links a:hover {
    color: dodgerblue;
}






/*******************Ani slut********************/










/*******************content*************************/








/*******************content slut********************/





/*******************om*************************/








/*******************om slut********************/
